<!DOCTYPE html>
<html>
    <head>
        <title>College Finder</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/15dbb28a79.js" crossorigin="anonymous"></script>
        <link href="../../MDB/MDB-Free/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../MDB/MDB-Free/css/mdb.min.css" rel="stylesheet">
        <link href="../../MDB/MDB-Free/css/style.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/stylesheet/main.css"> -->
        <style type="text/css">
            html,
            body,
            #intro {
                height: 100%;
            }

            .white-text{
                color: white;
            }
            
            body{
                background: linear-gradient(rgba(0,0,0,0.603),rgba(0,0,0,0.849));
            }

            #intro{
                background: linear-gradient(rgba(0,0,0,0.603),rgba(0,0,0,0.849)), url("https://mekreview.com/wp-content/uploads/2019/07/happy-young-woman-using-laptop-in-park.jpg")no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-sie: cover;
                -o-background-size: cover;
                background-size: cover;   
            }
            
        </style>
    </head>
    <body>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                        <div class="container-fluid">
                                <div class="navbar-header">
                                      <a class="navbar-brand" href="/">
                                      <i class="fas fa-graduation-cap"></i> CollegeFinder
                                      </a>
                                </div>
                                <div class="collapse navbar-collapse">
                                      <ul class="nav navbar-nav navbar-right">
                                      
                                          <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                                          <li><a href="/events"><i class="far fa-calendar-alt"></i> Events</a></li> 
                                      </ul>
                                </div>
                        </div>

                </div>

            </nav>
                <br> 
                
                
                 
        