<% include ./partials/header %>


<div class="container" style="text-align: center;padding-top: 250px">
        <div class="white-text">
                <h2>Search Your College !</h2>
        </div>
            
        <div>
            <form action="/result" method="GET" >
                <input type="text" placeholder="Name of the College" name="name">
                <input type="submit" value="Search">
            </form>           
        </div>
        

</div>







<% include ./partials/header %>