<% include ./partials/header %>

<div id="intro" class="view hm-black-strong">
    <div class="container full-bg-img d-flex align-items-center justify-content-center ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 text-center" style="padding-top: 250px; padding-left: 200px">

                    <h2 class="display-3 font-bold white-text mb-2">COLLEGE FINDER</h2>
                    <hr class="hr-light" style="padding-right: 75px; padding-left:80px">
                    <h4 class="white-text my-4">Helps you find your best suited College !</h4>
                    <a  class="btn btn-outline-white" href="/home"><i class="fas fa-arrow-right ml-2"></i></a>


            </div>
            
            

        </div>


    </div>

</div>



<% include ./partials/footer %>


